{% extends "base.html" %}
{% block content %}
    {% if not file_object %}
    Silahkan logout dan login kembali
        {{ current_user.get_id() }}
    {% else %}
 <h1>Files</h1>
    <ul>
{% for i in file_object.object_name %}
        <li><a href="files/{{ file_object.object_name[(loop.index)-1] }}">{{file_object.filename[(loop.index)-1] }}</a>
        <a href="delete/{{ file_object.object_name[(loop.index)-1] }}">
          <button class="glyphicon glyphicon-remove"></button>
        </a>
        <a href="share/{{ file_object.object_name[(loop.index)-1] }}">
          <button class="glyphicon glyphicon-share"></button>
        </a>
        </li>
{% endfor %}
    </ul>
        <br><h1>File yang anda bagikan</h1><br>


        {% for j in file_object.object_name %}
            {% if file_object.share[(loop.index)-1] == 'Yes'  %}
{#            {{ file_object.share }}#}
                <br>
                {{ file_object.filename[(loop.index)-1] }}
                <br>
            {% endif %}
        {% endfor %}

{% endif %}
{% endblock %}